<div data-role="page" style="background:url('/public/images/Default.png')no-repeat;">


  <div data-role="content" style='padding:250px 0 100px 0'>
    <ul data-role="listview" data-theme="d">
			<li>
				<a id='upgrade' style='text-align:center'>
				  Purchase Upgrade
				</a>
			</li>
	 </ul>
	<br/>
	<div style='margin-left:50px'>
		<a href='http://itunes.apple.com/us/app/fit/id472791337?ls=1&mt=8' style='text-align:center'>
		  <img src='/public/images/appstore.png' alt='Image' height='66' width='180' />
		</a>
    </div>	
  </div>

</div>
