<div id='home' data-role="page">
  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-split-theme="d" data-theme="d">
	        <li><a href='/app/Iapr/get_product'>Test Product Fetch</a></li>
	</ul>
	<ul data-role="listview" data-inset="true" data-split-theme="d" data-theme="d">
			<li><a href='/app/Iapr/upgrade'>Test Full Purchase</a></li>
	 </ul>
  </div>

</div>
